@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
    box-shadow: none !important;
}

button {
    outline: none !important;
}

.click_animation:hover,
button:hover {
    scale: 0.98;
}

.click_animation:active,
button:active {
    scale: 0.95;
}


/* Firefox */
*, *::before, *::after {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #3c50e0 #dee4ee;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    margin-right: 5px;
}
*::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #dee4ee;
}

*::-webkit-scrollbar-track:hover {
    background-color: #d3d9e3;
}

*::-webkit-scrollbar-track:active {
    background-color: #c8ced7;
}

*::-webkit-scrollbar-thumb {
    border-radius: 19px;
    background-color: #3C50E0;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #80caee;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #8a99af;
}

#loader {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.nprogress-busy #loader {
    opacity: 1;
    visibility: visible;
}

.nprogress-busy main {
    overflow-y: hidden;
}


img[alt="Muhamad Yusuf Aradabila"],
img[alt="Aji Nur Aji"] {
    scale: 1.50;
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
}